@using Application.Contract.Identity
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeView Roles="@ApplicationRoles.Administrator">
                <Authorized>
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                </Authorized>
                <NotAuthorized>
                    @if (routeData.PageType.ToString().Contains("/Admin/", StringComparison.OrdinalIgnoreCase))
                    {
                        <LayoutView Layout="@typeof(MainLayout)">
                            <p role="alert">Страница не доступна</p>
                        </LayoutView>
                    }
                    else
                    {
                        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                    }
                </NotAuthorized>
            </AuthorizeView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Страница не найдена</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Страница не найдена</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>